<link rel="stylesheet" href="/css/code.css">
<div class="container" style="display: flex;">
    <div class="coding" style="width: 65vw; height: 50vw; border: 2px solid blue; ">
        Code Screen
    </div>
    <div id="user-chat-box">
        <h4>Chat here</h4>
        <ul id="chat-messages-list">
            <li class="other-message">
                <span>Other Message</span>
            </li>
            <li class="self-message">
                <span>
                    Self Message
                </span>
                
            </li>

        </ul>
        <div id="chat-message-input-container">
            <input id="chat-message-input" placeholder="Type message here">
            <button id="send-message">Send</button>
        </div>
    
    </div>
</div>