<link rel="stylesheet" href="/css/home.css">
<div class="container">
    <h2>Hello!</h2>
    <div class="data">
        
        
        <button class="btn btn-outline-danger">Join</button>
        
        <a href="/user/sign-in">
            <button class="btn btn-outline-danger">Sign In</button>
        </a>
        
        <a href="/user/sign-up">
            <button class="btn btn-outline-danger">Sign Up</button>
        </a>
    </div>
    <img src="/images/codinggif.gif" alt="" srcset="">
</div>