@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@1,700&family=Pacifico&family=Quintessential&family=Source+Code+Pro:wght@600&display=swap');
nav{
    background-color: rgba(36, 80, 82, 0.884);
    padding: 4vw;
}
h1{
    font-family: 'Comic Neue', cursive;
    font-family: 'Pacifico', cursive;
    font-family: 'Quintessential', cursive;
    font-family: 'Source Code Pro', monospace;
    color: white;
}